{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}
<html>
  <head>
    {% block title %}
      {{ board.name }} - {{ block.super }}
    {% endblock %}
  </head>

  <body>
    {% block breadcrumb %}
     <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
     <li class="breadcrumb-item active">{{ board.name }}</li>
    {% endblock %}

    {% block content %}
      <div class="mb-4">
        <a href="{% url 'new_topic' board.pk %}" class="btn btn-info btn-rounded font-weight-bold">New Topic</a>
     </div>

      <table class="table mb-4">
        <thead class="text-light bg-dark">
         <tr>
          <th>Topic</th>
          <th>Starter</th>
          <th>Replies</th>
          <th>Views</th>
          <th>Last Update</th>
         </tr>
        </thead>
        {% for topic in topics %}
        {% url 'topic_posts' board.pk topic.pk as topic_url %}
        <tr>
          <td>
            <p class="mb-0">
              <a href="{{ topic_url }}">{{ topic.subject }}</a>
            </p>
            <small class="text-muted">
              Pages:
              {% for i in topic.get_page_range %}
                <a href="{{ topic_url }}?page={{ i }}">{{ i }}</a>
              {% endfor %}
              {% if topic.has_many_pages %}
              ... <a href="{{ topic_url }}?page={{ topic.get_page_count }}">Last Page</a>
              {% endif %}
            </small>
          </td>
          <td class="align-middle font-weight-bold">{{ topic.starter.username }}</td>
          <td class="align-middle">{{ topic.replies }}</td>
          <td class="align-middle">{{ topic.views }}</td>
          <td class="align-middle">{{ topic.last_updated|naturaltime }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </body>
 
  <footer>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if topics.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ topics.previous_page_number }}">Previous</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}
        {% for i in topics.paginator.page_range %}
          {% if topics.number == i %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if topics.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ topics.next_page_number }}">Next</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </footer>
  {% endblock %}

</html>

